footer{
    height: 10vh;
    color: gray;
    background-color: rgb(0, 2, 10);
    float: bottom;
}

.footercont{
    font-size: 26px;
    height: 100%;
    margin: auto;
    padding: 0 30px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
}

.footerright ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
}