.body{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    max-width: 900px;
    background-color: rgb(0, 95, 95);
    margin: 10vh auto;
    height: 60vh;
    padding: 50px;
    border-radius: 20px;
}

form{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form > input{
    width: 50%;
}